.bg-container {
  position: fixed;
  z-index: -2;
  min-width: 1024px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  //background: #E1EAF2 url("/assets/svgs/bg.svg") no-repeat fixed center;
  background-image: url("/assets/svgs/bg.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #E1EAF2;
  background-size: 95%;
}

.sidebar-container,
.results-container {
  display: inline-block;
  width: fit-content;
}

.results-container {
  width: calc(100% - 260px);
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
}
