<div class="db-list">

  <div *ngFor="let db of interactionsService.legacySites">
    <pbp-database *ngIf="db.db_state === DBState.Mapped"
                  [database]="db"></pbp-database>
  </div>

  <!--<div class="add-db" (click)="interactionsService.showManageDBsDialog = true">-->
      <!--Manage databases-->
      <!--<img class="icon icon-add-db" src="assets/svgs/Settings.svg" alt="Add new database"/>-->
  <!--</div>-->

  <!--<div class="container">-->
  <div class="add-db">
       <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Manage databases</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Manage Data</h4>
          </div>
          <div class="modal-body">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Generic/8.9</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">NIM4.1 Legacy operational</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">NIM4.1 Legacy</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="grid-container">
                  <mcr-grid [columnDefs]="gridHeaders"
                            [rowData]="interactionsService.getRowData()"
                            [gridOptions]="gridOptions"></mcr-grid>
                </div>
              </div>
              <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="grid-container">
                  <mcr-grid [columnDefs]="gridHeaders"
                            [rowData]="interactionsService.queryResults"
                            [gridOptions]="gridOptions"></mcr-grid>
                </div>
              </div>
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="grid-container">
                  <mcr-grid [columnDefs]="gridHeaders"
                            [rowData]="interactionsService.queryResults"
                            [gridOptions]="gridOptions"></mcr-grid>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>

      </div>
    </div>

  </div>

  <!--<div class="add-db" (click)="interactionsService.showManageDBsDialog = true">-->
      <!--Manage databases-->
      <!--<img class="icon icon-add-db" src="assets/svgs/Settings.svg" alt="Add new database"/>-->
  <!--</div>-->

</div>
