<div class="db-title" (click)="toggleQueries()">{{database.db_display_name}}
  <i class="fa fa-caret-down" *ngIf="!showQueries"></i>
  <i class="fa fa-caret-up" *ngIf="showQueries"></i>
</div>

<div class="db-queries-container" *ngIf="showQueries">
  <div class="db-query"
       *ngFor="let query of database.db_queries, let queryIndex=index"
       (click)="interactionsService.getResults(database, query)">{{query.query_name}}
       <i class="fa fa-times icon icon-delete-query" (click)="deleteQuery(database.db_id, query.query_id)"></i>
    <!--<img class="icon icon-delete-query" src="assets/svgs/delete.svg" alt="Delete query" title="Delete query"
         (click)="deleteQuery(database.db_id, query.query_id)"/>-->
  </div>

  <div class="db-query add-query" title="New query" data-toggle="modal" data-target="#queryModal" (click)="CreateNewQuery(database.db_id)">
      New query
    <img class="icon icon-add-query" src="assets/svgs/Plus.svg" alt="New query"/>

  </div>
</div>
