.query-data {
  margin-bottom: 20px;

  .query-data-item {
    display: inline-block;
    margin: 5px 20px;

    .bold {
      color: #435d70;
      font-weight: bolder;
    }
  }
}

.grid-container {
margin: 0;
}
